<div>
  <input type="text" name="firstname"  [(ngModel)]="user.firstname" #firstname="ngModel">
  <button (click)="add()">ADD</button>
 </div>
 <div class="App">
    
    <div *ngFor="let x of name; let i=index">
      <div>{{x.firstname}}
        <button (click)="delete(i)">DELETE</button>
      </div>
      
    
    </div>
</div>
 